@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: "JosefinSlab-Bold";
  src: local("JosefinSlab-Bold") url("./assets/fonts/JosefinSlab-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSlab-Medium";
  src: local("JosefinSlab-Medium") url("./assets/fonts/JosefinSlab-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSlab-Regular";
  src: local("JosefinSlab-Regular") url("./assets/fonts/JosefinSlab-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSlab-Light";
  src: local("JosefinSlab-Light") url("./assets/fonts/JosefinSlab-Light.ttf") format("truetype");
}

* {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
}

*::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}